@model IEnumerable<GroupProjectTaffyStore.Models.Cart>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CartID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TaffyID)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Quantity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Total)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.CartID)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.TaffyID)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Quantity)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Price)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Total)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.CartID }) |
			@Html.ActionLink("Details", "Details", new { id = item.CartID }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.CartID })
		</td>
	</tr>
}

</table>
